@import "tailwindcss";
@import "@fontsource/libre-baskerville";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/effect-coverflow";

:root {
  font-family: "Libre Baskerville", serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #060606;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  z-index: 1;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #000000;
  color:rgba(255, 255, 255, 0.87);
  z-index: 1;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

html {
  z-index: 1;
}

@keyframes pingpong-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(var(--scroll-distance));
  }
}

.animate-pingpong-scroll {
  display: flex;
  width: fit-content;
  will-change: transform;
  animation-play-state: running;
}

.group:hover .animate-pingpong-scroll {
  animation-play-state: paused;
}



@keyframes twinkle {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background: white;
  border-radius: 50%;
  opacity: 0;
  animation: twinkle 3s infinite;
}

.sparkle-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(44, 43, 43);
  border-radius: 10px;
  border: 2px solid transparent;
}



